.carousel {
    height: 60vh;
    width: 80vw;
    position: relative;

  }
  .carousel button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: #0EB478;
    transform: translateY(-80%);
    top: 50%;
  }
  #prev {
    left: 65px;
  }
  #next {
    right: -85px;
  }
  .carousel li {
    list-style: none;
  }
  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
    padding-bottom: 10vh;
  }
  .slide.active {
    opacity: 1;
  }
  .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }